.containerHeshteg {
   padding: 0;
   margin: 0;
   height: 64px;
   @media (min-width: 768px) {
      height: 106px;
   }
}

.contentHeshteg {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   list-style: none;
   li {
      font-weight: 700;
   }
}

.whiteContainer {
   background-color: #ffffff;
   border-top: 1px solid #000000;
   border-bottom: 1px solid #000000;
   ul li:nth-child(1):before {
      content: "#ХОЛОД У ЖИЛАХ";
      margin-right: 20px;
   }
   ul li:nth-child(2):before {
      content: "#ЗАПАЛ У СЕРЦЯХ";
      margin-right: 20px;
   }
   li {
      font-size: 16px;
      @media (min-width: 390px) {
         font-size: 20px;
      }
      @media (min-width: 768px) {
         font-size: 24px;
      }
   }
   @media (min-width: 768px) {
      ul li:nth-child(1)::before,
      ul li:nth-child(2)::before {
         margin-right: 66.5px;
      }
      ul li:nth-child(3):before {
         content: "#ХОЛОД У ЖИЛАХ";
      }
   }
   @media (min-width: 1280px) {
      ul li:nth-child(3):before {
         margin-right: 66.5px;
      }
      ul li:nth-child(4):before {
         content: "#ЗАПАЛ У СЕРЦЯХ";
         margin-right: 66.5px;
      }
      ul li:nth-child(5):before {
         content: "#ХОЛОД У ЖИЛАХ";
      }
   }
}

.greenContainer {
   background-color: var(--button-main-color);
   li {
      font-size: 20px;
      @media (min-width: 768px) {
         font-size: 24px;
      }
   }
   ul li:nth-child(1) {
      margin-right: 15px;
   }
   ul li:nth-child(2)::before {
      content: "#МАЙБУТНЄ";
      margin-right: 15px;
   }
   ul li:nth-child(3)::before {
      content: "#СВОБОДА";
      margin-right: 15px;
   }
   @media (min-width: 480px) {
      ul li:nth-child(1) {
         margin-right: 24px;
      }
      ul li:nth-child(2)::before,
      ul li:nth-child(3)::before {
         margin-right: 24px;
      }
      ul li:nth-child(4)::before {
         content: "#ЗЕМЛЯ";
      }
   }
   @media (min-width: 768px) {
      ul li:nth-child(2)::before,
      ul li:nth-child(2)::before,
      ul li:nth-child(3)::before,
      ul li:nth-child(4)::before {
         margin-right: 32px;
      }
      ul li:nth-child(5)::before {
         content: "#РОДИНА";
         margin-right: 32px;
      }
      ul li:nth-child(6)::before {
         content: "#СИЛА";
      }
   }
   @media (min-width: 1280px) {
      ul li:nth-child(1) {
         margin-right: 55px;
      }
      ul li:nth-child(2)::before,
      ul li:nth-child(2)::before,
      ul li:nth-child(3)::before,
      ul li:nth-child(4)::before,
      ul li:nth-child(5)::before,
      ul li:nth-child(6)::before {
         margin-right: 55px;
      }
      ul li:nth-child(7)::before {
         content: "#ЗАХИСТ";
         margin-right: 55px;
      }
      ul li:nth-child(8)::before {
         content: "#ВОЛЯ";
         margin-right: 55px;
      }
      ul li:nth-child(9)::before {
         content: "#НАЦІЯ";
      }
   }
}
