.outerContainer {
   overflow: hidden;
}
.containerHeshteg {
   display: flex;
   align-items: center;
   padding: 0;
   margin: 0;
   height: 64px;
   width: 1000%;
   @media (min-width: 768px) {
      height: 106px;
   }
}

.contentHeshteg {
   overflow: hidden;
   will-change: transform;
   display: inline-block;
   margin-right: 24px;
   font-size: 20px;
   font-weight: 700;
   @media (min-width: 768px) {
      margin-right: 47px;
      font-size: 24px;
   }
}
.whiteContainerUkr {
   background-color: #ffffff;
   border-top: 1px solid #000000;
   border-bottom: 1px solid #000000;
   animation: whiteContentAnimationUkr 15s linear infinite;
}

@media (min-width: 0) {
   @keyframes whiteContentAnimationUkr {
      from {
         transform: translateX(0);
      }
      to {
         transform: translateX(-376px);
      }
   }
}
@media (min-width: 768px) {
   @keyframes whiteContentAnimationUkr {
      from {
         transform: translateX(0);
      }
      to {
         transform: translateX(-487.5px);
      }
   }
}

.whiteContainerEng {
   background-color: #ffffff;
   border-top: 1px solid #000000;
   border-bottom: 1px solid #000000;
   animation: whiteContentAnimationEng 15s linear infinite;
}

@media (min-width: 0) {
   @keyframes whiteContentAnimationEng {
      from {
         transform: translateX(0);
      }
      to {
         transform: translateX(-379px);
      }
   }
}
@media (min-width: 768px) {
   @keyframes whiteContentAnimationEng {
      from {
         transform: translateX(0);
      }
      to {
         transform: translateX(-491px);
      }
   }
}

.greenContainerUkr {
   background-color: var(--button-main-color);
   animation: greenContentAnimationUkr 30s linear infinite;
}

@media (min-width: 0) {
   @keyframes greenContentAnimationUkr {
      from {
         transform: translateX(0);
      }
      to {
         transform: translateX(-850px);
      }
   }
}
@media (min-width: 768px) {
   @keyframes greenContentAnimationUkr {
      from {
         transform: translateX(0);
      }
      to {
         transform: translateX(-1177px);
      }
   }
}

.greenContainerEng {
   background-color: var(--button-main-color);
   animation: greenContentAnimationEng 30s linear infinite;
}

@media (min-width: 0) {
   @keyframes greenContentAnimationEng {
      from {
         transform: translateX(0);
      }
      to {
         transform: translateX(-914px);
      }
   }
}
@media (min-width: 768px) {
   @keyframes greenContentAnimationEng {
      from {
         transform: translateX(0);
      }
      to {
         transform: translateX(-1254px);
      }
   }
}
