.wrapper-header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: var(--background-light);
   border-bottom: 1px solid #252525;
   z-index: 100;
}

.header {
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   font-family: PT Sans;
   font-weight: 700;

   padding-top: 25px;
   padding-bottom: 24px;

   @media screen and (min-width: 768px) {
      padding-top: 21px;
      padding-bottom: 21px;
   }

   @media screen and (min-width: 1280px) {
      min-height: 100px;
      // padding: 21px;
   }
}

.logo {
   display: block;
   margin: 0;
   padding: 0;

   font-size: 24px;
   line-height: 1.3;
   text-transform: uppercase;

   @media screen and (min-width: 768px) {
      font-size: 45px;
   }
}

.navigation {
   display: none;

   @media screen and (min-width: 1280px) {
      display: block;
   }
}
.icon-button-block {
   display: flex;
   align-items: center;
   justify-content: end;
   @media screen and (min-width: 768px) {
      justify-content: space-between;
      width: 330px;
   }
}
.navigation-list {
   display: flex;
   list-style: none;
   padding: 0px;
   gap: 80px;

   font-size: 24px;
   text-transform: uppercase;
}

.navigation-list-item {
   cursor: pointer;
   transition: var(--transition);
   &:hover,
   &:focus {
      color: var(--desktop-navigation-accent);
   }
}

.navigation-link {
   color: var(--header-text);
}

.language-selector-wrapper {
   position: relative;
}

.language-selector {
   display: none;
   cursor: pointer;

   @media screen and (min-width: 1280px) {
      display: flex;
      align-items: center;

      margin-left: auto;
      font-size: 24px;
      text-transform: uppercase;
      transition: var(--transition);
      &:hover,
      &:focus {
         background-color: var(--hover-btn-gray);
      }
   }
}

.language-menu-list {
   position: absolute;
   top: 120%;
   left: -12px;
   flex-direction: column;
   background-color: white;
   border: 1px solid var(--hover-btn-gray);
   z-index: 1;
   padding: 5px 0;
}

.language-menu-item {
   cursor: pointer;
   &:hover {
      background-color: var(--hover-btn-gray);
   }
}

.selected-language {
   display: block;
   padding: 8px 20px;
   font-size: 16px;
   transition: var(--transition);
}

.burger-menu {
   @media screen and (min-width: 1280px) {
      display: none;
   }
}

//?mobile menu

.mobile-menu {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 101;

   width: 100%;
   height: 100vh;
   padding-top: 24px;
   padding-bottom: 24px;
   background-color: var(--background-dark);
   color: var(--white);
   font-family: PT Sans;
   font-weight: 700;

   overflow-y: scroll;
   @media screen and (min-width: 1280px) {
      display: none;
   }
}

.close-modal {
   margin-left: auto;

   width: 28px;
   color: var(--icon-exit-burger-main);
   transition: var(--transition);
   &:hover {
      color: var(--button-burger-hover-color);
      background-color: var(--desktop-navigation-accent);
   }
}

.logo_mobile-menu {
   margin-left: auto;
   margin-right: auto;
   margin-top: 33px;
   width: 197px;
   font-size: 45px;
   color: var(--white);
   transition: var(--transition);
   &:hover {
      color: var(--accent-color);
   }
}

.navigation_mobile-menu {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 32px;
   width: 85%;

   font-size: 28px;
   line-height: 1.3;
   text-transform: uppercase;

   border-bottom: 1px solid var(--text-gray);
}

.navigation-list_mobile-menu {
   display: flex;
   margin-left: auto;
   margin-right: auto;
   flex-direction: column;
   align-items: center;
   width: 88%;
   color: var(--button-burger-hover-color);
}

.navigation-item_mobile-menu {
   margin-bottom: 32px;
   margin-left: auto;
   margin-right: auto;
   transition: var(--transition);
   &:hover {
      color: var(--accent-color);
   }
}

.language-selector-container {
   position: relative;
   width: 50px;
   min-height: 37px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 32px;
   margin-bottom: 77px;

   @media screen and (min-width: 480px) {
      margin-bottom: 75px;
   }
   @media screen and (min-width: 768px) {
      margin-bottom: 85px;
   }
}

.language-selector_mobile {
   display: flex;
   align-items: center;
   // width: 49px;
   font-size: 30px;
   line-height: 1.2;
   text-align: center;
   transition: var(--transition);
   cursor: pointer;

   @media screen and (min-width: 480px) {
      margin-bottom: 75px;
   }
   @media screen and (min-width: 768px) {
      margin-bottom: 150px;
      width: 78px;
      font-size: 45px;
   }

   &:hover {
      color: var(--header-text);
      background-color: var(--hover-btn-gray);
   }
}

.language-menu-list-mobile {
   position: absolute;
   top: 95%;
   left: -9%;

   flex-direction: column;
   background-color: var(--background-dark);
   border: 1px solid var(--hover-btn-gray);
   z-index: 1;
   padding: 5px 0;

   @media screen and (min-width: 480px) {
      top: 85%;
   }
   @media screen and (min-width: 768px) {
      top: 100%;
      left: -8%;
   }
}

.language-menu-item-mobile {
   cursor: pointer;
   &:hover {
      color: var(--header-text);
      background-color: var(--hover-btn-gray);
   }
}

.selected-language-mobile {
   display: block;
   padding: 8px 20px;
   font-size: 16px;
   transition: var(--transition);
   @media screen and (min-width: 768px) {
      font-size: 45px;
   }
}
