.modal {
   top: 0;
   left: 0;
   display: flex;
   width: 100%;
   height: 100%;
   flex-shrink: 0;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   transition: opacity 0.3s ease-in-out;
   z-index: 11000;
   position: fixed;
   background-color: rgba(121, 120, 120, 0.7);
}
.modal-window{
    margin: 116px auto 256px;
    width: 742px;
    height: 444px;
    background-color: var(--background-about);
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 9px;
    flex-shrink: 0;
}
.modal-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 25px;
    padding-right: 24px;

}
.modal-button button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}
.iconx{
    width: 30px;
    height: 30px;
}
.modal-text{
    display: flex;
    height: 315px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.imgthank{
    width: 125px;
    height: 125px;
}
@media screen and (max-width: 1279px) {
    .modal-window{
        display: flex;
        align-items: center;
        width: 551px;
        height: 548px;
        background-color: var(--background-about);
        flex-direction: column;
    }
    .modal-button {
        height: 30px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 25px;
        padding-right: 86px;
    }
    .modal-text{
        margin-top: 15px;
        height: 378px;

    }
    .imgthank{
       
        width: 125px;
        height: 125px;
        
    }
    .iconx{
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 767px){
    .modal-window{
        display: flex;
        align-items: center;
        width: 320px;
        height: 471px;
        background-color: var(--background-about);
        flex-direction: column;
    }
    .modal-button {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;
        padding-right: 16px;
    }
    .iconx{
        width: 18px;
        height: 18px;
    }
    .modal-text{
        padding: 0 20px;
        height: 371px;

    }
    .imgthank{
        width: 89px;
        height: 89px;
    }
}
@media screen and (max-width: 479px){
    .modal-window{
        display: flex;
        align-items: center;
        width: 232px;
        height: 336px;
        background-color: var(--background-about);
        flex-direction: column;
    }
    .modal-button {
        display: flex;
        height: 18px;
        justify-content: flex-end;
        margin-top: 5px;
        padding-right: 5px;
    }
    .iconx{
        width: 18px;
        height: 18px;
    }
    .modal-text{
        padding: 0 20px;
        height: 276px;
        margin-top: 0;

    }
    .imgthank{
        width: 75px;
        height: 74px;
    }
}

.modal-text h2{
    width: auto;
    color: var(--title-main);
    text-align: center;
    font-family: PT Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
@media (min-width: 480px) {
    .modal-text h2{
        color: var(--title-main);
        width: auto;
        text-align: center;
        font-family: PT Sans;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    }
    @media (min-width: 768px) {
        .modal-text h2{
            width: 372px;
            color: var(--title-main);
            text-align: center;
            font-family: PT Sans;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
    }
    @media (min-width: 1280px) {
        .modal-text h2 {
            color: var(--title-main);
            text-align: center;
            font-family: PT Sans;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
         }
    }



    .modal-text p{
        color: var(--text-main);
        text-align: center;
        font-family: PT Sans;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    @media (min-width: 480px) {
        .modal-text p{
            color: var(--text-main);
            text-align: center;
            font-family: PT Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    @media (min-width: 768px) {
        .modal-text p {
            color: var(--text-main);
            font-family: PT Sans;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            cursor: pointer;
         }
    }
    @media (min-width: 1280px) {
        .modal-text p {
            color: var(--text-main);
            font-family: PT Sans;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            cursor: pointer;
         }
    }

    @media (orientation: landscape){
        .modal{
            justify-content: center;
            align-items: center;
        }
        
        .modal-window{
            display: flex;
            align-items: center;
            width: 330px;
            height: 280px;
            background-color: var(--background-about);
            flex-direction: column;
            margin: 0;
        }
        .modal-button {
            display: flex;
            height: 18px;
            justify-content: flex-end;
            margin-top: 5px;
            padding-right: 5px;
        }
        .iconx{
            width: 18px;
            height: 18px;
        }
        .modal-text{
            margin-top: 0px;
            padding: 0 20px;
            height: 220px;
            justify-content: space-between
            
        }
    
        .modal-text h2{
            width: auto;
            color: var(--title-main);
            text-align: center;
            font-family: PT Sans;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
        .imgthank{
            width: 75px;
            height: 74px;
        }
        .modal-text p{
            color: var(--text-main);
            text-align: center;
            font-family: PT Sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }