// slider
.projects-block-box {
   color: white;
   width: 432px;
}
// slider
.slide-blok {
   width: 100vw !important;
   display: flex !important;
   justify-content: center;
   padding: 0 24px;
}
// slider
.data-title-blok {
   display: flex;
   flex-direction: column;
   gap: 16px;
   justify-content: space-between;
   width: 100%;
   margin: 20px 0px;
   padding-right: 8px;
}
// slider
.project-cart-description {
   padding-right: 8px;
   max-width: 432px;
   font-size: 20px;
   line-height: 25px;
   overflow: hidden;
}
@media (max-width: 490px) {
   // .projects-block-box {
   //    width: 341px;
   // }
   // .project-cart-description {
   //    width: 341px;
   // }
   // .data-title-blok {
   //    align-items: center;
   //    flex-direction: row-reverse;
   // }
}

@media (min-width: 390px) {
   .data-title-blok {
      align-items: center;
      flex-direction: row-reverse;
   }
}

.projects {
   background: var(--background-dark);
   height: auto;
   padding-bottom: 80px;
   font-family: PT Sans;
}
.title-dark {
   padding: 80px 0 40px 0;
   color: var(--white);
}
.projects-block-desktop {
   display: none;
}
.project-cart {
   display: grid;
   gap: 16px;
   color: white;
   width: 100%;
}

.projects-img {
   width: 100%;
   height: 338px;
   object-fit: cover;
}
.projects-block-box-img {
   width: 100%;
   height: 338px;
   object-fit: cover;
}
.link-more-project {
   display: block;
}
.project-data {
   font-size: 14px;
   line-height: 18px;
   color: var(--text-gray);
}
.project-cart-title {
   font-size: 24px;
   line-height: 31px;
   font-weight: 700;
   padding-right: 8px;
}

.projects-btn {
   cursor: pointer;
   margin: 0 auto;
   width: 90%;
   max-width: 432px;
   padding: 18px 0px;
   margin-top: 100px;
   color: var(--white);
   font-family: PT Sans;
   font-size: 24px;
   font-weight: 700;
   text-transform: uppercase;
   border: 1px solid var(--white);
   display: flex;
   align-items: center;
   justify-content: center;
   &:hover,
   &:focus {
      color: var(--accent-color);
      border-color: var(--accent-color);
   }
}

@media (min-width: 768px) {
   .slider-project {
      display: none;
   }
   .projects-block-desktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
   }
   .project-cart {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
   }
   .title-dark {
      padding: 100px 0 20px 0;
   }
}
@media (min-width: 1280px) {
   .project-cart {
      width: 292px;
   }
   .title-dark {
      padding: 140px 0 40px 0;
   }
   .projects-block-desktop {
      display: flex;
      justify-content: center;
   }
}
