.about-section {
  display: flex;
  flex-direction: column;
  background-color: var(--background-about);
}
@media (min-width: 1280px) {
  .about-section {
    justify-content: center;
    height: 764px;
  }
}
@media screen and (max-width: 479px) {
  .container {
      width: 100%; 
  }
}
.about-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .about-wrapper  {
    gap: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about-wrapper {
    gap: 0;
  }
}
@media (min-width: 1280px) {
  .about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85px 359px;
    grid-template-areas: 
    "header ."
    "description photo";
    row-gap: 40px;
  }
}
.about-title {
  font-family: PT Sans;
  font-style: normal;
  text-transform: uppercase;
  order: 2;
  font-size: 28px;
  font-weight: 700;
  line-height: 36.23px;
}
@media (min-width: 768px) {
  .about-title {
    font-size: 66px;
    line-height: 85.4px;
  }
}
@media (min-width: 1280px) {
  .about-title {
    grid-area: header;
    order: 1;
  }
}
.about-description-container {
  display: flex;
  flex-direction: column;
  color: var(--header-main);
  order: 3;
  gap: 40px;
  margin-bottom: 80px;  
}
@media screen and (min-width: 390px) {
  .about-description-container {
    margin-bottom: 66px;  
  }
}
@media screen and (min-width: 480px) {
  .about-description-container  {
    margin-bottom: 80px;  
  }
}
@media screen and (min-width: 768px) {
  .about-description-container {
    margin: 24px 0 100px 0;  
  }
}
@media (min-width: 1280px) {
  .about-description-container {
    grid-area: description;
    width: 608px;
  }
}
.about-description-text {
  font-family: PT Sans;
  width: auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.88px;
}
@media (min-width: 768px) {
  .about-description-text {
    font-size: 24px;
    line-height: 36px;
  }
}
.about-btn-container {
  display: flex;
  justify-content: center;
}
@media (min-width: 1280px) {
  .about-btn-container {
    justify-content: flex-start;
  }
}
.about-photo {
  width: 100%;
  height: 100%; 
}
.about-photo-container {
  order: 1;
  width: auto;
  margin-top: 80px;
}
@media screen and (min-width: 480px) {
  .about-photo-container {
    height: 264px;
  }
}
@media (min-width: 768px) {
  .about-photo-container {
    height: 450px;
    margin: 100px 0 40px 0;
  }
}
@media (min-width: 1280px) {
  .about-photo-container {
    grid-area: photo;
    align-self: start;
    justify-self: end;
    height: 332px;
    margin: 0;
  }
}

  

     
      

