.about-section {
    display: flex;
    flex-direction: column;
    background-color: var(--background-about);
}
.about-title {
    display: flex;
    font-family: PT Sans;
    font-style: normal;
    text-transform: uppercase;
    height: auto;
}
.about-description-wrapper {
    color: var(--header-main);
}
.about-description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-description-text {
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans';
    margin: 0;
    width: 100%;
    height: auto;

}
.about-btn-container {
    display: flex;
    justify-content: center;
}
.about-photo {
    width: 100%;
    height: 100%;
}
        
@media screen and (min-width: 480px) {
      .about-section {
        justify-content: center;
        height: 808px;
      }
      .about-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 636px;
      }
      .about-title {
      //  align-self:flex-start;
      align-items: center;
      // width: auto;
        order: 2;
        font-size: 28px;
        font-weight: 700;
        line-height: 36.23px;
      }
      .about-description-wrapper {
        align-self: center;
        order: 3;
      }
      .about-description-container {
        height: 208px;
        // width: 432px;
        width: auto;
        order: 3;
      }
      .about-description-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 25.88px;
      }
      .about-photo-wrapper {
        justify-content: center;
        flex-direction: row;
      }

      .about-photo-container {
        display: flex;
        flex-direction: row;
        align-self: center;
        order: 1;
        width: 432px;
        height: 264px;
      }
    }   
             
    @media (min-width: 768px) and (max-width: 1279px) {
      .about-section {
        justify-content: center;
        height: 1122px;
      }
      .about-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 922px;
      }
      .about-title {
        // align-self: center;
        font-size: 66px;
        font-weight: 700;
        line-height: 85.4px;
        order: 2;
      }
      .about-description-wrapper {
        align-self: center;
        order: 3;
      }
      .about-description-container {
        height: 323px;
        width: 720px;
      }
      .about-description-text {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
      }
      .about-photo-wrapper {
       justify-content: center;
       flex-direction: row;
      }
      .about-photo-container {
        display: flex;
        flex-direction: row;
        align-self: center;
        order: 1;
        width: 720px;
        height: 450px;
      }
      }

    @media (min-width: 1280px) {
      .about-section {
        justify-content: center;
        height: 764px;
      }
      .about-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 85px 359px;
        grid-template-areas: 
        "header ."
        "description photo";
        row-gap: 40px;
        height: 484px;
      }
      .about-title {
        grid-area: header;
        font-size: 66px;
        font-weight: 700;
        line-height: 85.4px;
      }
      .about-description-wrapper {
        grid-area: description;
      }
      .about-description-container {
        height: 359px;
        width: 608px;
      }
      .about-description-text {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
      }
      .about-btn-container {
        justify-content: flex-start;
      }
      .about-photo-container {
        grid-area: photo;
        align-self: start;
        justify-self: end;
        width: 504px;
        height: 332px;
      }
    }

  
      







     
      

