.project-title {
   font-size: 28px;
   line-height: 36px;
   font-weight: 700;
   margin-top: 64px;
   text-transform: uppercase;
}
.project-page-list {
   margin: 40px 0 80px 0;
   display: flex;
   flex-direction: column;
   gap: 80px;
}

.all-project-content {
   display: flex;
   flex-direction: column;
   max-width: 432px;
   margin: 0 auto;
}
.project-data {
   font-size: 14px;
   line-height: 18px;
   color: var(--text-gray);
}
.page-project-cart-title {
   font-size: 18px;
   line-height: 31px;
   font-weight: 700;
   padding-right: 10px;
}
.page-data-title-blok {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   margin: 20px 0px;
}
.project-img-blok {
   min-width: 270px;
   height: 338px;
   display: block;
   object-fit: cover;
}

.all-project-description {
   max-width: 432px;
   font-size: 20px;
   line-height: 25px;
}
@media screen and (min-width: 380px) {
   .project-cart-title {
      font-size: 24px;
   }
}

@media screen and (min-width: 768px) {
   .project-title {
      font-size: 56px;
      line-height: 76px;
      margin-top: 100px;
   }
   .all-project-content {
      flex-direction: row;
      gap: 24px;
      max-width: 100%;
   }
   .project-img-blok {
      width: 348px;
      height: 384px;
   }
   .page-data-title-blok {
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
      margin: 0px;
      gap: 20px;
   }
   .page-project-cart-title {
      font-size: 28px;
      line-height: 36px;
   }
   .project-data {
      font-size: 20px;
   }
   .all-project-description {
      max-width: 348px;
      margin-top: 24px;
      font-size: 24px;
      line-height: 31px;
   }
}

@media (min-width: 1280px) {
   .project-page-list {
      margin: 100px 0 80px;
   }
   .project-title {
      font-size: 66px;
      line-height: 76px;
      margin-top: 100px;
      margin-bottom: 100px;
   }
   .project-title {
      font-size: 66px;
      line-height: 76px;
      margin-top: 100px;
      margin-bottom: 100px;
   }
   .all-project-description {
      max-width: 608px;
   }
   .project-img-blok {
      min-width: 609px;
      height: 384px;
   }
}

.pagination {
   display: flex;
   justify-content: space-between;
   margin-bottom: 140px;
}

.pagination-text {
   text-transform: uppercase;
   cursor: pointer;
   font-size: 20px;
   font-weight: 700px;
   &:hover {
      color: var(--text-gray);
   }
}
