
.contact{
    display: flex;
    background-color: var(--background-about);
}

.contact-box{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 140px 0 100px 0;
}
.contact-box h2{
    color: var(--title-main);
    font-family: PT Sans;
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.contact-box p{

    max-width: 920px;
    color: var(--text-main);
    text-align: center;
    font-family: PT Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; 
}
.contact-link{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.contact-link a{
    color: var(--text-main);
    font-family: PT Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
@media (min-width: 481px) and (max-width: 768px) {
.contact-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    align-self: stretch;
    margin: 85px 0;
    }
.contact-box h2{
    color: var(--title-main);
    font-family: PT Sans;
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    align-self: stretch;
    text-align: center;
    }
.contact-box p{
    align-self: stretch;
    color: var(--title-main);
    text-align: center;
    font-family: PT Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    width: auto;
    }
}
@media (max-width: 480px){
.contact-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    align-self: stretch;
    margin: 70px 0;
    }
.contact-box h2{
    color: var(--title-main);
    font-family: PT Sans;
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    align-self: stretch;
    text-align: center;
    }
.contact-box p{
    align-self: stretch;
    width: auto;
    color: var(--title-main);
    text-align: center;
    font-family: PT Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    }
}