.contact{
    display: flex;
    background-color: var(--background-about);
}

.contact-box{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 49px;
    margin: 120px 0;
}
.contact-box-title{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}
.contact-box-title h2{
    color: var(--title-main);
    font-family: PT Sans;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.contact-box-title p{

    max-width: 920px;
    color: var(--text-main);
    text-align: center;
    font-family: PT Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; 
}
.contact-link{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}
.contact-link a{
    color: var(--text-main);
    font-family: PT Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.contact-link a:hover{
    color: var(--accent-color) ;
    text-decoration: underline;

}
@media screen and (max-width: 1279px) {
.contact-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    align-self: stretch;
    margin: 100px 0;
    }
.contact-box-title{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    }
.contact-box-title h2{
    color: var(--title-main);
    font-family: PT Sans;
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    align-self: stretch;
    text-align: center;
    }
.contact-box-title p{
    align-self: stretch;
    color: var(--title-main);
    text-align: center;
    font-family: PT Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    width: auto;
    }
}
@media screen and (max-width: 767px){
.contact-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    margin: 80px 0;
    }
.contact-box-title{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.contact-box-title h2{
    color: var(--title-main);
    text-align: center;
    font-family: PT Sans;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    }
.contact-box-title p{
    align-self: stretch;
    width: auto;
    color: var(--title-main);
    text-align: center;
    font-family: PT Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
.contact-link a{
    color: var(--text-main);
    font-family: PT Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
}
@media screen and (max-width: 479px){
    .contact-box-title h2{
        color: var(--title-main);
        text-align: center;
        font-family: PT Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        }
    .contact-box-title p{
        align-self: stretch;
        width: auto;
        color: var(--title-main);
        text-align: center;
        font-family: PT Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }
        .contact-link a{
            color: var(--text-main);
            font-family: PT Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            }
        }
