.containerHeshteg {
   padding: 0;
   margin: 0;
   width: 100%;
   height: 64px;
   overflow: hidden;
   @media (min-width: 768px) {
      height: 106px;
   }
   @media (min-width: 1480px) {
      display: flex;
      justify-content: center;
   }
}

.contentHeshteg {
   padding-left: 24px;
   width: 500%;
   height: 100%;
   display: flex;
   align-items: center;
   list-style: none;
   @media (min-width: 1440px) {
      padding-left: 100px;
   }
   li {
      font-weight: 700;
   }
   @media (min-width: 1440px) {
      width: fit-content;
   }
}

.whiteContainer {
   background-color: #ffffff;
   ul li:nth-child(1):before,
   ul li:nth-child(3):before,
   ul li:nth-child(5):before {
      content: "#ХОЛОД У ЖИЛАХ";
      margin-right: 20px;
      @media (min-width: 480px) {
         margin-right: 106px;
      }
      @media (min-width: 768px) {
         margin-right: 66.5px;
      }
      @media (min-width: 1440px) {
         margin-right: 65.5px;
      }
   }
   ul li:nth-child(2):before,
   ul li:nth-child(4):before {
      content: "#ЗАПАЛ У СЕРЦЯХ";
      margin-right: 20px;
      @media (min-width: 480px) {
         margin-right: 106px;
      }
      @media (min-width: 768px) {
         margin-right: 66.5px;
      }
   }
   li {
      font-size: 16px;
      @media (min-width: 390px) {
         font-size: 20px;
      }
      @media (min-width: 768px) {
         font-size: 24px;
      }
   }
}

.greenContainer {
   background-color: var(--button-main-color);
   li {
      margin-right: 15px;
      font-size: 20px;
      @media (min-width: 390px) {
         margin-right: 24px;
      }
      @media (min-width: 768px) {
         margin-right: 32px;
         font-size: 24px;
      }
      @media (min-width: 1440px) {
         margin-right: 55px;
      }
   }
   .contentHeshteg li:nth-child(2)::before {
      content: "#МАЙБУТНЄ";
   }
   .contentHeshteg li:nth-child(3)::before {
      content: "#СВОБОДА";
   }
   .contentHeshteg li:nth-child(4)::before {
      content: "#ЗЕМЛЯ";
   }
   .contentHeshteg li:nth-child(5)::before {
      content: "#РОДИНА";
   }
   .contentHeshteg li:nth-child(6)::before {
      content: "#СИЛА";
   }
   .contentHeshteg li:nth-child(7)::before {
      content: "#ЗАХИСТ";
   }
   .contentHeshteg li:nth-child(8)::before {
      content: "#ВОЛЯ";
   }
   .contentHeshteg li:nth-child(9)::before {
      content: "#НАЦІЯ";
   }
   @media (min-width: 390px) {
      padding-left: 26px;
   }
   @media (min-width: 480px) {
      padding-left: 22px;
   }
   @media (min-width: 768px) {
      padding-left: 0;
   }
}
