@import '../utils/variables';
button {
  background-color: $button-color;
  border: 1px solid;
  padding: 0;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-family: PT Sans;
    font-weight: 700;
    color: #212121;
  }
  &:hover {
    background-color: $button-hover;
    a {
      color: #ffffff;
    }
  }
}

.headerButton {
  width: 160px;
  height: 46px;
  a {
    font-size: 14px;
  }
  @media (min-width: 1280px) {
    width: 206px;
    height: 54px;
    a {
      font-size: 20px;
    }
  }
}

.mainButton {
  width: 262px;
  height: 67px;
  a {
    font-size: 24px;
  }
}

.burger {
  width: 296px;
  height: 69px;
  a {
    font-size: 32px;
  }
  &:hover {
    background-color: $button-hover-burger;
    a {
      color: #000000;
    }
  }
}
