.donateButton {
   background-color: var(--button-main-color);
   border: 1px solid;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   font-family: PT Sans;
   font-weight: 700;
   color: var(--button-hover-color);
   &:hover {
      background-color: var(--button-hover-color);
      color: var(--button-burger-hover-color);
   }
}

.headerButton {
   display: none;
   @media screen and (min-width: 768px) {
      display: flex;
      min-width: 206px;
      min-height: 54px;
      font-size: 20px;
   }
}

.mainButton {
   min-width: 100%;
   max-width: 432px;
   min-height: 52px;
   font-size: 16px;
   @media (min-width: 768px) {
      min-width: 262px;
      min-height: 67px;
      font-size: 24px;
   }
}

.burger {
   min-width: 98%;

   min-height: 52px;
   font-size: 32px;
   &:hover {
      background-color: var(--button-burger-hover-color);
      color: var(--button-hover-color);
   }
   @media screen and (min-width: 480px) {
      margin-left: auto;
      margin-right: auto;
   }
}

.footerButton {
   min-width: 272px;
   min-height: 52px;
   font-size: 16px;
   @media (min-width: 768px) {
      margin: 0 auto;
      width: 337px;

      font-size: 24px;

   }
   &:hover {
      background-color: var(--button-burger-hover-color);
      color: var(--button-hover-color);
   }
}
