.footer {
    display: flex;
    flex-direction: column;
    background-color: rgba(37, 37, 37, 1);
    height: 367px;
}
    @media screen and (min-width: 480px) {
        .footer {
        height: 366px;
        }
    }
.footer-logo-container {
    display: flex;
    flex-direction: column;
    width: 197px;
    margin: 73px auto 37px auto;
    gap: 28px;
}
        @media (min-width: 768px) {
        .footer-logo-container {
            flex-direction: row;
            margin: 97px auto 75px auto;
            width: 337px;
        }
    }

    .logo-svg-container {
        display: flex;
        align-self: center;
        align-items: center;
        width: 68px;
        height: 68px;
    }
    @media (min-width: 768px) {
        .logo-svg-container {
            width: 64px;
            height: 64px; 
        }
    }
    .logo-svg {
        width: 100%;
        height: 100%;
        background-image: url("src/assets/logo_footer.svg");
        background-size: cover;
        background-position: center;
    }
    .logo-text {
        display: flex;
        flex-direction: row;
        font-family: PT Sans;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--white);
        font-size: 45px;
        line-height: 58.23px;
    }
    @media (min-width: 768px) {
        .logo-text  {
            font-size: 56px;
            line-height: 72.46px;
        }
    }
    .footer-policy-container {
        display: flex;
        flex-direction: column;
    }
    .footer-policy-link-container {
        display: flex;
        align-items: center;
        align-self: center;
        flex-direction: row;
    }
    @media screen and (min-width: 480px) {
        .footer-policy-link-container  {
            justify-content: space-between;
            width: 359px;
        }
    }
    @media (min-width: 768px) and (max-width: 1279px) {
        .footer-policy-link-container {
            justify-content: space-between;
            width: 658px;
            padding: 0 3px;
        }
    }
    @media (min-width: 1280px) {
        .footer-policy-link-container {
            justify-content: space-evenly;
            width: 671px;
        }
    }
    .footer-policy-link, .footer-policy-text {
        display: flex;
        margin: 0;
        color: var(--white);
        font-family: PT Sans;
        font-weight: 400;
        font-size: 12px;
        line-height: 15.53px;
    }
    @media (min-width: 768px) {
        .footer-policy-link, .footer-policy-text {
            font-size: 22px;
            line-height: 28.47px;
        }
    }
    .footer-policy-link {
        position: relative;
    }
    .footer-policy-link::after {
        content: ""; 
        position: absolute; 
        left: 0; 
        right: 0; 
        bottom: 1.5px; 
        height: 1px; 
        background-color: var(--white); 
    }
    @media screen and (min-width: 768px) {
        .footer-policy-link::after {
            bottom: 3.3px; 
        }
    }
    .footer-policy-text {
        margin: 0 auto;
        justify-content: center;
    }
    @media screen and (min-width: 480px) {
        .footer-policy-text  {
            width: 359px;
        }
    }
    @media (min-width: 768px) and (max-width: 1279px) {
        .footer-policy-text {
            width: 658px;
        }
    }
    @media (min-width: 1280px) {
        .footer-policy-text{
            width: 671px;
            
        }
    }







