.wrapper-header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: var(--background-light);
   border-bottom: 1px solid #252525;
   z-index: 100;
}
// .container_header {
//    margin-top: 100px;
// }

.header {
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   font-family: PT Sans;
   font-weight: 700;

   padding-top: 25px;
   padding-bottom: 24px;

   @media screen and (min-width: 768px) {
      padding-top: 21px;
      padding-bottom: 21px;
   }

   @media screen and (min-width: 1280px) {
      min-height: 100px;
      // padding: 21px;
   }
}

.logo {
   display: block;
   margin: 0;
   padding: 0;

   font-size: 24px;
   line-height: 1.3;
   text-transform: uppercase;

   @media screen and (min-width: 768px) {
      font-size: 45px;
   }
}

.navigation {
   display: none;

   @media screen and (min-width: 1280px) {
      display: block;
   }
}
.icon-button-blok {
   display: flex;
   align-items: center;
   justify-content: end;
   @media screen and (min-width: 768px) {
      justify-content: space-between;
      width: 330px;
   }
}
.navigation-list {
   display: flex;
   list-style: none;
   padding: 0px;
   gap: 80px;

   font-size: 24px;
   text-transform: uppercase;

   @media screen and (min-width: 480px) {
   }

   @media screen and (min-width: 768px) {
   }

   @media screen and (min-width: 1280px) {
   }
}

.navigation-list-item {
   cursor: pointer;
   transition: var(--transition);
   &:hover,
   &:focus {
      color: var(--desktop-navigation-accent);
   }
}

.navigation-link {
   color: var(--header-text);
   @media screen and (min-width: 480px) {
   }

   @media screen and (min-width: 768px) {
   }

   @media screen and (min-width: 1280px) {
   }
}

.language-selector {
   display: none;
   cursor: pointer;
   @media screen and (min-width: 1280px) {
      display: flex;
      align-items: center;

      margin-left: auto;
      font-size: 24px;
      text-transform: uppercase;
      transition: var(--transition);
      &:hover,
      &:focus {
         background-color: var(--hover-btn-gray);
      }
   }
}

.burger-menu {
   @media screen and (min-width: 1280px) {
      display: none;
   }
}

//?mobile menu

.mobile-menu {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 101;

   width: 100%;
   padding-top: 24px;
   padding-bottom: 24px;
   background-color: var(--background-dark);
   color: var(--white);
   font-family: PT Sans;
   font-weight: 700;

   @media screen and (min-width: 1280px) {
      display: none;
   }
}

.close-modal {
   margin-left: auto;

   width: 28px;
   color: var(--icon-exit-burger-main);
   transition: var(--transition);
   &:hover {
      color: var(--button-burger-hover-color);
      background-color: var(--desktop-navigation-accent);
   }
}

.logo_mobile-menu {
   margin-left: auto;
   margin-right: auto;
   margin-top: 33px;
   width: 197px;
   font-size: 45px;
   color: var(--white);
   transition: var(--transition);
   &:hover {
      color: var(--accent-color);
   }
}

.navigation_mobile-menu {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 32px;

   font-size: 28px;
   line-height: 1.3;
   text-transform: uppercase;

   border-bottom: 1px solid var(--text-gray);
}

.navigation-list_mobile-menu {
   display: flex;
   flex-direction: column;
   align-items: center;
   @media screen and (min-width: 480px) {
   }
}

.navigation-item_mobile-menu {
   margin-bottom: 32px;
   transition: var(--transition);
   &:hover {
      color: var(--accent-color);
   }
}

.language-selector_mobile {
   margin-top: 32px;
   margin-bottom: 48px;
   font-size: 30px;
   line-height: 1.2;
   text-align: center;
   transition: var(--transition);
   cursor: pointer;
   &:hover {
      color: var(--accent-color);
   }
}
