.hero {
   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../../../public/images/hero_example.jpg");
   background-size: cover;
   //    width: 1440px;
   min-height: 735px;
}

.container_hero {
   position: relative;
}

.hero-title {
   position: absolute;
   top: 409px;
   display: block;
   width: 912px;
   font-family: PT Sans;
   font-weight: 700;
   font-size: 50px;
   color: #fff;
}
