.hero {
   padding-bottom: 70px;
   height: 100%;
   border-bottom: solid 1px black;
}
.slider {
   height: 255px;
}

.arrow-slider {
   position: absolute;
   top: 120px;
   z-index: 10;
   width: 28px;
   height: 28px;
   border: none;
   background-color: var(--hover-arrow-slider);
   opacity: 0.7;
   transition: 0.4s;
   cursor: pointer;
   & img {
      margin: 0px auto;
      margin-top: 2px;
   }
   &:hover {
      background-color: var(--hover-arrow-slider);
      opacity: 1;
   }
}
.slider-title {
   margin-top: 24px;
   font-size: 24px;
   line-height: 34px;
}
.slider-title p {
   display: block;
   background: white;
}
.slick-dots {
   position: absolute;
   bottom: -50px;
}
.slick-dots li button:before {
   transition: 0.4s;
   content: "";
   opacity: 1;
   width: 8px;
   height: 8px;
   background: #e2e2e2;
   border-radius: 50%;
}
li.slick-active button:before {
   background: #828282;
}
@media (min-width: 568px) {
   .slider {
      height: 405px;
   }
   .arrow-slider {
      top: 200px;
   }
}
@media (min-width: 768px) {
   .hero {
      height: 665px;
   }
   .arrow-slider {
      width: 38px;
      height: 38px;
      top: 47%;
   }

   .slider {
      height: 665px;
   }
   .slick-dots {
      position: absolute;
      bottom: 80px;
   }
   .slick-dots li button:before {
      width: 16px;
      height: 16px;
   }

   li.slick-active button:before {
      opacity: 1;
      background: #bdbdbd;
      border: solid 2px white;
   }

   .slider-title {
      position: absolute;
      top: 370px;
      max-width: 716px;
      font-size: 40px;
      line-height: 53px;
      display: block;
      opacity: 0.6;
   }
   .slider-title p {
      -webkit-box-decoration-break: clone;
      display: inline;
      padding: 3px;
   }
}
// @media (min-width: 1080px) {
//    .hero {
//       height: 675px;
//    }
//    .arrow-slider {
//       width: 38px;
//       height: 38px;
//       top: 47%;
//    }
//    .slider {
//       height: 675px;
//    }
//    .slider-title {
//       font-size: 40px;
//       top: 380px;
//       line-height: 55px;
//    }
// }

@media (min-width: 1280px) {
   .slider {
      height: 735px;
   }
   .slider-title {
      top: 420px;
      max-width: 920px;
      line-height: 48px;
   }
}
