.mission{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}
.mission-title h2{
    color: var(--text-main);
    font-family: PT Sans;
    font-size: 66px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.mission-block{
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.mission-block-box{
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.mission-block-box-img{
    width: 44px;
    height: 44px;
    background-image: url('../../../public/images/target-mission.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mission-block-box-text{
    width: 540px;
}
.mission-block-box-text p{
    color: var(--text-main);
    font-family: PT Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

@media (min-width: 481px) and (max-width: 768px) {
    .mission{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
    }
    .mission-block{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        align-self: stretch;
    }
    .mission-block-box-text{
        width: 100%;
    }
    
}

@media (max-width: 480px){
    .mission{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
        align-self: stretch;
    }
    .mission-title{
        display: flex;
        justify-content: center;
        text-align: center;
        align-self: stretch;
    }
    .mission-block{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        align-self: stretch;
    }
    .mission-block-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
    }
    .mission-block-box-text{
        width: 100%;
    }
   
}