.mission-box{
    display: flex;
    background-color: var(--background-about);
}
.mission-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    margin: 140px 0;
}
.mission-block{
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.mission-block-box{
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.mission-block-box-img::before {
    content: ""; 
    width: 44px;
    height: 44px;
    background-image: url('../../../public/images/target-mission.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block; 
    vertical-align: middle; 
    margin-right: 5px; 
}
.mission-block-box-text{
    width: auto;
}
.mission-block-box-text p{
    color: var(--text-main);
    font-family: PT Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

@media (min-width: 481px) and (max-width: 768px) {
    .mission-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
        align-self: stretch;
        margin: 100px 0;
    }
    .mission-block{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        align-self: stretch;
    }
    .mission-block-box-text{
        width: 100%;
    }
    
}

@media (max-width: 480px){
    .mission-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
        align-self: stretch;
        margin: 80px 0;
    }
    .mission-block{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        align-self: stretch;
    }
    .mission-block-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
    }
    .mission-block-box-text{
        width: 100%;
    }
   
}