.mission{
   display: flex;
   background-color: var(--background-about);
}
.mission-box{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 66px;
   margin: 140px 0;
}
.mission-block{
   display: flex;
   align-items: flex-start;
   gap: 24px;
}
.mission-block-box{
   display: flex;
   align-items: flex-start;
   gap: 24px;
}

.mission-block-box-img::before {
   content: ""; 
   width: 44px;
   height: 44px;
   background-image: url('../assets/icon/target-icon.svg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: inline-block; 
   vertical-align: middle; 
   margin-right: 5px; 
}
.mission-block-box-text{
   width: auto;
}
.mission-block-box-text p{
   color: var(--text-main);
   font-family: PT Sans;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 36px;
}

@media (min-width: 768px) and (max-width: 1279px) {
   .mission-box{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       gap: 78px;
       align-self: stretch;
       margin: 100px 0;
   }
   .mission-block{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       gap: 40px;
       align-self: stretch;
   }
   .mission-block-box-text{
       width: 100%;
   }
   
}

@media (min-width: 480px) and (max-width: 767px){
   .mission-box{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       gap: 40px;
       align-self: stretch;
       margin: 80px 0;
   }
   .mission-block{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       gap: 24px;
       align-self: stretch;
   }
   .mission-block-box{
       display: flex;
       align-items: flex-start;
       gap: 24px;
       align-self: stretch;
   }
   .mission-block-box-text{
       width: 100%;
   }
   .mission-block-box-text p{
      width: 100%;
      color: var(--text-main);
      font-family: PT Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
}
   @media (min-width: 230px) and (max-width: 479px) {
      
   .mission-box{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      align-self: stretch;
      margin: 80px 0;
  }
  .mission-block{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;
  }
  .mission-block-box{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 24px;
      align-self: stretch;
  }
  .mission-block-box-text{
      width: 100%;
  }
  .mission-block-box-text p{
     width: 100%;
     color: var(--text-main);
     font-family: PT Sans;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
  }
   
}

.title-mission {
   width: 100%;
   color: var(--title-main);
   font-family: PT Sans;
   font-size: 66px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-transform: uppercase;
   text-align:start;
   @media (min-width: 768px) and (max-width: 1279px) {
      font-family: PT Sans;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
   }
   @media (max-width: 768px) {
       text-align: start;
       align-self: stretch;
       font-family: PT Sans;
       font-size: 28px;
       font-style: normal;
       font-weight: 700;
       line-height: normal;
       text-transform: uppercase;
   }
   
}