.partner {
   display: flex;
   width: 100%;
   margin: 80px 0;
   flex-direction: column;
   gap: 35px;
}

.card {
   height: 111px;
   display: flex;
   border: 1px solid #000;
}
.partner_img {
   width: 248px;
   height: 111px;
}
@media screen and (min-width: 768px) {
   .partner {
      margin: 100px 0;
      gap: 60px;
   }
   .card {
      height: 170px;
      width: 367px;
   }
   .partner_img {
      height: 170px;
      width: 367px;
   }
}
@media screen and (min-width: 908px) {
   .card {
      height: 200px;
      width: 397px;
   }
   .partner_img {
      height: 200px;
      width: 397px;
   }
}
@media screen and (min-width: 1280px) {
   .partner {
      margin: 140px 0;
      gap: 90px;
   }
   .card {
      height: 200px;
      width: 397px;
   }
   .partner_img {
      height: 200px;
      width: 397px;
   }
}
