.partners{
    display: flex;
}
.partner{
    display: flex;
    width: 100%;
    margin: 140px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    overflow: hidden;
}
.partner-list{
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.partner-card::before{
    width: 397px;
    height: 200px;
    content: ""; 
    // background-image: url('../../../public/images/logo-baza.png');
    background-position: center;
    background-size: 121px;
    background-repeat: no-repeat;
    background-color: var(--background-about);
    display: inline-block; 
    vertical-align: middle; 

}
.partner-card:hover::before{
    background-color: #fff;
    

}
.partner-card-baza::before{
    width: 397px;
    height: 200px;
    content: ""; 
    background-image: url('../../../public/images/logo-baza.png');
    background-position: center;
    background-size: 121px;
    background-repeat: no-repeat;
    background-color: var(--background-about);
    display: inline-block; 
    vertical-align: middle; 
}
.partner-card-baza:hover::before{
    background-color: #fff;
    

}

@media (min-width: 481px) and (max-width: 768px) {
    .partner{
        margin: 100px 0;

    }
    .partner-list{
        max-width: 767px;
        width: 100%;
        overflow: hidden;
    }
}


@media (max-width: 480px){
    .partner{
        margin: 80px 0;
    }
    .partner-list{
        max-width: 370px;
        width: 100%;
        overflow: hidden;
    }
}