.hidden {
   width: 0px;
   height: 0px;
   padding: 0px;
   margin: 0px;
   opacity: 0;
   overflow: hidden;
   line-height: 0px;
}
.language-liable {
   color: var(--admin-title-color);
   font-weight: 500;
   font-size: 18px;
}

.input-liable {
   margin-bottom: 14px;
   color: var(--admin-title-color);
   font-size: 18px;
   font-weight: 500;
}
.sm-input {
   font-family: Roboto;
   width: 100%;
   height: 45px;
   border-radius: 6px;
   font-size: 18px;
   padding-left: 10px;
   border: solid 1px var(--admin-table-header-background);
   &:focus {
      outline: none;
   }
}
.input-link {
   border: solid 1px#EBEBEB;
   color: var(--admin-button-accent);
   text-decoration: underline;
   &::placeholder {
      color: var(--admin-button-accent);
   }
}
.input-blok {
   height: 80px;
}
.text-area-blok {
   position: relative;
   margin-bottom: 30px;
}
.lg-input {
   font-family: Robot;
   width: 100%;
   padding: 10px;
   height: 174px;
   display: block;
   border-radius: 6px;
   font-size: 18px;
   resize: none;
   line-height: 21.09px;
   border: solid 1px var(--admin-table-header-background);
   &:focus {
      outline: none;
   }
}
.counter-input {
   position: absolute;
   bottom: -30px;
   right: 10px;
   // z-index: 3;
   color: var(--text-gray);
}
.form-input-container {
   width: 430px;
   display: flex;
   flex-direction: column;
   gap: 24px;
   margin-bottom: 44px;
}

.form-button-blok {
   margin-top: auto;
}
.added-form {
   padding: 0 40px;
   font-size: 20px;
   display: flex;
   justify-content: space-between;
}
.tablet-files-picker {
   display: none;
}
.editImg {
   height: 121px;
   width: 188px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.editImg-default {
   display: block;
   height: 121px;
   width: 188px;
   object-fit: cover;
}
.liable-piker {
   margin: 0px;
   padding: 0px;
}
.label-icon-blok {
   width: 208px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: -20px;
}
.edit-button-icon {
   cursor: pointer;
   width: 24px;
   height: 24px;
   border-radius: 5px;
   transition: var(--transition);
   &:hover {
      color: var(--admin-button-accent);
      background-color: var(--admin-secondary-accent);
   }
}
.partner-file-blok {
   // margin: 38px 0;
}
.drag {
   position: relative;
}
.drag-input {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 141px;
   width: 208px;
   border: dashed 3px var(--admin-table-header-background);
   overflow: hidden;
   cursor: pointer;
   transition: var(--transition);
   &:hover {
      background-color: var(--admin-secondary-accent);
   }
   & label {
      text-align: center;
      overflow: hidden;
      display: block;
      font-size: 14px;
      color: var(--text-gray);
      cursor: pointer;
   }
}
.file-placeholder {
   width: 153px;
   height: 48px;
   font-size: 14px;
   line-height: 16.5px;
   margin: 0 auto;
}

@media (max-width: 1279px) {
   .desc-files-picker {
      display: none;
   }
   .tablet-files-picker {
      display: block;
   }
   .form-input-container {
      width: 100%;
   }

   .label-icon-blok {
      width: 100%;
   }
   .drag-input {
      margin: 28px auto;
   }
   .text-area-blok {
      // margin-bottom: 0px;
   }
   .input-blok {
      display: none;
   }

   .added-form {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      padding: 0 24px;
   }
   .input-liable {
      margin-bottom: 10px;
   }
}
@media (max-width: 767px) {
   .drag-input {
      width: 100%;
      height: 244px;
   }
   .sm-input {
      height: 38px;
   }
   .lg-input {
      height: 135px;
   }
   .counter-input {
      font-size: 16px;
   }
}
@media (max-width: 480px) {
   .added-form {
      padding: 0 10px;
   }
}
