.admin-footer {
   display: flex;
   justify-content: space-between;

   padding: 40px 24px;
   background-color: #f4f4f4;
}

.admin-navigation {
   display: flex;
   justify-content: space-between;
   width: 144px;
}
