.admin-change-password{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.header-admin-change-password{
    display: flex;
    width: 100%;
    height: 108px;
    padding: 40px 24px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--admin-table-header-background);
    background: var(--background-light);
}
.header-admin-change-password h2{
    color: var(--admin-title-color);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.inputs-admin-change-password{
    display: flex;
    width: 100%;
    padding: 24px 24px 44px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 72px;
    align-self: stretch;
    background: var(--background-light);
}
.password-edit-eye{
    bottom: 37px;
    cursor: pointer;
}
.edit-password-btn{
    display: flex;
    width: 430px;
    height: 50px;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--background-light);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 6px;
    border: none;
    background: var(--admin-button-main);
}
.edit-password-btn:hover{
    background: var(--admin-button-accent);
}
.admin-change-form{
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.all-input-change{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.new-admin-change-password{
    display: flex;
    width: 430px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.new-admin-change-password p{
    color: var(--admin-title-color);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.new-admin-change-password-input{
    display: flex;
    padding: 9px 13px 12px 10px;
    justify-content: space-between;
    align-items: flex-end;
    gap: 17px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--inputs_color, #ACACAC);
    background: var(--background-light);
}

.new-admin-change-password-input input{
    width: 366px;
    border: none;
    background: none;
    color: var(--admin-title-color);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:hover{
        border: none;
        
    }
    &:focus{
        outline: none;
    }
}
.this-admin-change-password{
    display: flex;
    width: 430px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.this-admin-change-password p{
    color: var(--admin-title-color);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.this-admin-change-password-input{
    display: flex;
    padding: 9px 13px 12px 10px;
    justify-content: space-between;
    align-items: flex-end;
    gap: 17px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--inputs_color, #ACACAC);
    background: var(--background-light);
}

.this-admin-change-password-input input{
    width: 366px;
    border: none;
    background: none;
    color: var(--admin-title-color);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:hover{
        border: none;
        
    }
    &:focus{
        outline: none;
    }
}
.return-admin-change-password{
    display: flex;
    width: 430px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.return-admin-change-password p{
    color: var(--admin-title-color);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.return-admin-change-password-input{
    display: flex;
    padding: 9px 13px 12px 10px;
    justify-content: space-between;
    align-items: flex-end;
    gap: 17px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--inputs_color, #ACACAC);
    background: var(--background-light);
}

.return-admin-change-password-input input{
    width: 366px;
    border: none;
    background: none;
    color: var(--admin-title-color);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:hover{
        border: none;
        
    }
    &:focus{
        outline: none;
    }
}
.error-icon-message{
    display: flex;
    width: 430px;
    padding: 12px 10px;
    align-items: center;
    border-radius: 6px;
    background: var(--admin-red-background);
    color: var(--admin-red-accent);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (min-width: 480px) and (max-width: 767px) {
    .admin-change-password{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .header-admin-change-password{
        display: flex;
        width: 100%;
        height: 21px;
        padding: 12px 24px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--admin-table-header-background);
        background: var(--background-light);
    }
    .header-admin-change-password h2{
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .inputs-admin-change-password{
        display: flex;
        width: 100%;
        padding-top: 24px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .password-edit-eye{
        bottom: 24px;
        cursor: pointer;
    }
    .edit-password-btn{
        display: flex;
        width: 100%;
        height: 50px;
        padding: 16px 40px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: var(--admin-button-title);
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 6px;
        border: none;
        background: var(--admin-button-main);
    }
    .admin-change-form{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }
    .all-input-change{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    .new-admin-change-password{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .new-admin-change-password p{
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    
    }
    .new-admin-change-password-input{
        display: flex;
        padding: 9px 13px 12px 10px;
        justify-content: space-between;
        align-items: flex-end;
        gap: 17px;
        align-self: stretch;
        border-radius: 6px;
        border: 1px solid var(--inputs_color, #ACACAC);
        background: var(--background-light);
    }

    
    
    .new-admin-change-password-input input{
        width: 100%;
        border: none;
        background: none;
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &:hover{
            border: none;
            
        }
        &:focus{
            outline: none;
        }
    }

    .this-admin-change-password{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .this-admin-change-password p{
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    
    }
    .this-admin-change-password-input{
        display: flex;
        padding: 9px 13px 12px 10px;
        justify-content: space-between;
        align-items: flex-end;
        gap: 17px;
        align-self: stretch;
        border-radius: 6px;
        border: 1px solid var(--inputs_color, #ACACAC);
        background: var(--background-light);
    }
    
    .this-admin-change-password-input input{
        width: 100%;
        border: none;
        background: none;
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &:hover{
            border: none;
            
        }
        &:focus{
            outline: none;
        }
    }
    .return-admin-change-password{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .return-admin-change-password p{
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    
    }
    .return-admin-change-password-input{
        display: flex;
        padding: 9px 13px 12px 10px;
        justify-content: space-between;
        align-items: flex-end;
        gap: 17px;
        align-self: stretch;
        border-radius: 6px;
        border: 1px solid var(--inputs_color, #ACACAC);
        background: var(--background-light);
    }
    
    .return-admin-change-password-input input{
        width: 100%;
        border: none;
        background: none;
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &:hover{
            border: none;
            
        }
        &:focus{
            outline: none;
        }
    }
    .error-icon-message{
        display: flex;
        width: 100%;
        padding: 12px 10px;
        align-items: center;
        border-radius: 6px;
        background: var(--admin-red-background);
        color: var(--admin-red-accen);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media (max-width: 479px) {

    .admin-change-password{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .header-admin-change-password{
        display: flex;
        width: 100%;
        height: 21px;
        padding: 12px 5px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--admin-table-header-background);
        background: var(--background-light);
    }
    .header-admin-change-password h2{
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .inputs-admin-change-password{
        display: flex;
        width: 100%;
        padding: 12px 5px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .password-edit-eye{
        bottom: 24px;
        cursor: pointer;
    }
    .edit-password-btn{
        display: flex;
        width: 100%;
        height: 50px;
        padding: 16px 40px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: var(--background-light);
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 6px;
        border: none;
        background: var(--admin-button-main);
    }
    .admin-change-form{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }
    .all-input-change{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    .new-admin-change-password{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .new-admin-change-password p{
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    
    }
    .new-admin-change-password-input{
        display: flex;
        padding: 9px 13px 12px 10px;
        justify-content: space-between;
        align-items: flex-end;
        gap: 17px;
        align-self: stretch;
        border-radius: 6px;
        border: 1px solid var(--inputs_color, #ACACAC);
        background: var(--background-light);
    }
    
    .new-admin-change-password-input input{
        width: 100%;
        border: none;
        background: none;
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &:hover{
            border: none;
            
        }
        &:focus{
            outline: none;
        }
    }
    .this-admin-change-password{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .this-admin-change-password p{
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    
    }
    .this-admin-change-password-input{
        display: flex;
        padding: 9px 13px 12px 10px;
        justify-content: space-between;
        align-items: flex-end;
        gap: 17px;
        align-self: stretch;
        border-radius: 6px;
        border: 1px solid var(--inputs_color, #ACACAC);
        background: var(--background-light);
    }
    
    .this-admin-change-password-input input{
        width: 100%;
        border: none;
        background: none;
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &:hover{
            border: none;
            
        }
        &:focus{
            outline: none;
        }
    }
    .return-admin-change-password{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .return-admin-change-password p{
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    
    }
    .return-admin-change-password-input{
        display: flex;
        padding: 9px 13px 12px 10px;
        justify-content: space-between;
        align-items: flex-end;
        gap: 17px;
        align-self: stretch;
        border-radius: 6px;
        border: 1px solid var(--inputs_color, #ACACAC);
        background: var(--background-light);
    }
    
    .return-admin-change-password-input input{
        width: 100%;
        border: none;
        background: none;
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &:hover{
            border: none;
            
        }
        &:focus{
            outline: none;
        }
    }
    .error-icon-message{
        display: flex;
        width: 100%;
        padding: 12px 10px;
        align-items: center;
        border-radius: 6px;
        background: var(--admin-red-background);
        color: var(--admin-red-accent);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}