.admin-hero {    
height: 100%;
width: 100%;
}
.admin-hero-header {
display: flex;
flex-direction: row;
align-items: center;
width: 100%;
background-color: var(--white);
height: 50px;

@media screen and (min-width: 768px) {
   height: 106px;
}
@media screen and (min-width: 1280px) {
   height: 109px; 
}
}
.admin-hero-header-wrapper {
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
padding: 0 24px;
@media screen and (min-width: 768px) {
   padding: 0 40px;
}
}
.admin-hero-add-icon-box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 65px;
   height: 24px;
   cursor: pointer;
@media screen and (min-width: 768px)  {
   width: 78px;
   height: 32px;
   }
}
.admin-hero-add-icon-box p {
   color: var(--admin-button-accent);
   width: 33px;
   height: 21px;
   font-size: 18px;
   line-height: 21.09px;
   @media screen and (min-width: 1280px)  {
      width: 36px;
      height: 23px;
      font-size: 20px;
      line-height: 23.44px;
      }
}
.admin-main-header {
display: flex;
flex-direction: row;
align-items: center;
height: 57px;
width: 100%;
}
@media screen and (min-width: 768px) {
.admin-main-header {
   height: 74px;
}
}
.content-element-img-box {
   display: block;
}
.wrapper-img-box {
   width: 80px;
   height: 50px;
}
.wrapper-img-box-svg {
   width: 54px;
   height: 50px;
}
.content-element-img {
   width: 100%;
   height: 100%;
}
.content-element-name {
   width: 106px;
   color: var(--text-main);
   font-size: 18px;
   line-height: 21.09px;
   color: var(--admin-main-font);
   @media screen and (min-width: 1280px) {
      width: 117px;
      font-size: 20px;
      line-height: 23.44px;
   }
}
.content-element-data {
   width: 71px;
   color: var(--text-main);
   font-size: 18px;
   line-height: 21.09px;
   color: var(--admin-main-font);
   @media screen and (min-width: 1280px) {
      width: 79px;
      font-size: 20px;
      line-height: 23.44px;
   }
}










