.main-wrapper {
   display: flex;
   border: 1px dashed blue;
   font-family: "Roboto";
   font-weight: 400;
   font-size: 20px;
   line-height: 1.17;
   color: var(--admin-main-font);
}

.body-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   border: 1px dashed red;
}

.admin-backdrop {
   height: 100%;
   padding: 24px;
   background-color: #f4f4f4;
}
