.admin-wrapper-error{
   height: 90vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background: var(--background-light); 
   padding: 18px;   
}

.admin-error-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   // flex-grow: 1;
}

.admin-error-title {
   color: var(--admin-title-color);
   font-family: Roboto;
   font-size: 100px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin-top: 20px;
}

.admin-error-text-warning {
   color: var(--admin-title-color);
   font-family: Roboto;
   font-size: 23px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 22px;
}

.admin-error-text {
   color: var(--admin-title-color);
   font-family: Roboto;
   font-size: 17px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-align: center;
}

.admin-error-btn {
   color: var(--admin-button-accent, #2672E4);
   font-family: Roboto;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   text-decoration-line: underline;
   text-align: center;
   margin-bottom: 30px;
   margin-top: 10px;
}



  @media screen and (min-width: 768px) {
     .admin-error-title {   
         font-size: 200px;
     }
      .admin-error-text-warning {
         font-size: 40px;              
      }
      .admin-error-text {                   
         font-size: 20px;
      }  
      .admin-error-btn {
         margin-bottom: 60px;
         margin-top: 40px;
         font-size: 20px;
      }
  }