.bank-contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bank-contacts-header{
    display: flex;
    width: 100%;
    height: 112px;
    padding: 40px 24px;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid var( --admin-table-header-background);
    background: var(--background-light);
    gap: 10px;
}
.bank-contacts-header h2{
    color: var(--admin-title-color);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.bank-contacts-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.bank-contacts-list-title{
    display: flex;
    width: 100%;
    padding: 26px 24px;
    justify-content: space-between;
    align-items: flex-start;
    background: var( --admin-table-header-background);
}
.bank-contacts-list-title p{
    width: 240px;
    color: var(--admin-title-color);
    font-family: Roboto;
    font-size: 18px;    
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.bank-contacts-list-title span{
    width: 20px;
    height: 20px;
}
.bank-contacts-list-ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.bank-card{

    width: 100%;
}
.bank-li{
    display: flex;
    width: 100%;
    height: 74px;
    padding: 8px 24px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var( --admin-table-header-background);
    background: var(--background-light);
}
.bank-li:hover{
    border-bottom: 1px solid var( --admin-table-header-background);
    background: var(--background-admin-hover);
 
    .edit-icon path {
       stroke: var(--admin-main-accent);
     }
 }
.bank-li p{
    width: 240px;
    flex-shrink: 0;
    color: var(--admin-title-color);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.bank-li a{
    width: 240px;
    color: var(--admin-main-accent);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    overflow: hidden;
}
.bank-li button{
    display: flex;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px){
    .bank-contacts{
        
        display: flex;
        align-items: flex-start;
        flex: 1 0 0;
    }
    .bank-contacts-header{
        display: flex;
        width: 100%;
        height: 106px;
        padding: 37px 20px;
        justify-content: space-between;
        align-items: center;
    }
    .bank-contacts-header h2{
        flex: 1 0 0;
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .bank-contacts-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .bank-contacts-list-title{
        display: flex;
        width: 100%;
        padding: 26px 24px;
        justify-content: space-between;
        align-items: flex-start;
        background: var( --admin-table-header-background);
    }
    .bank-contacts-list-title p{
        width: 135px;
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .bank-contacts-list-title span{
        width: 20px;
        height: 20px;
    }
    .bank-contacts-list-ul{
        display: flex;
        flex-direction: column;
    }
    .bank-card{
        width: 100%;
    }
    .bank-li{
        display: flex;
        width: 100%;
        height: 99px;
        padding: 12px 24px;
        align-items: center;
        gap: 120px;
        border-bottom: 1px solid var( --admin-table-header-background);
        background: var(--background-light);
    }
    .bank-li p{
        width: 135px;
        flex-shrink: 0;
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .bank-li a{
        width: 135px;
        color: var(--admin-main-accent);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }
    .bank-li-group button{
        width: 18px;
        height: 18px;
        background: none;
        border: none;
        cursor: pointer;
        display: none;
    }
}
@media (max-width: 767px){
    .bank-contacts{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .bank-contacts-header{
        display: flex;
        width: 100%;
        height: 45px;
        padding: 12px 24px;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
    }
    .bank-contacts-header h2{
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .bank-contacts-list-title{
        display: flex;
        width: 100%;
        padding: 18px 24px;
        justify-content: space-between;
        align-items: flex-start;
        background: var( --admin-table-header-background);
    }
    .bank-contacts-list-title p{
        width: 106px;
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .bank-contacts-list-title span{
        width: 20px;
        height: 20px;
    }
    .bank-contacts-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .bank-contacts-list-ul{
        display: flex;
        flex-direction: column;
    }
    .bank-card{

        width: 100%;
    }
    .bank-li{
        display: flex;
        width: 100%;
        padding: 8px 24px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var( --admin-table-header-background);
        background: var(--background-light);
    }
    .bank-li p{
        width: 106px;
        flex-shrink: 0;
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .bank-li a{
        display: flex;
        width: 106px;
        color: var(--admin-main-accent);
        text-overflow: ellipsis;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }
    .bank-li button{
        display: flex;
        width: 18px;
        height: 18px;
    }
}
@media screen and (max-width: 479px) {

    .bank-contacts{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .bank-contacts-header{
        display: flex;
        width: 100%;
        height: 45px;
        padding: 12px 5px;
        align-items: center;
        flex-shrink: 0;
    }
    .bank-contacts-header h2{
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .bank-contacts-list-title{
        display: flex;
        width: 100%;
        padding: 18px 5px;
        justify-content: space-between;
        align-items: flex-start;
        background: var( --admin-table-header-background);
    }
    
    .bank-contacts-list-title p{

        width: 70px;
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .bank-contacts-list-title span{

        width: 20px;
        height: 20px;
    }
    .bank-contacts-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .bank-contacts-list-ul{
        display: flex;
        flex-direction: column;
    }
    .bank-card{

        width: 100%;
    }
    .bank-li{
        display: flex;
        width: 100%;
        padding: 8px 5px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var( --admin-table-header-background);
        background: var(--background-light);
    }
    .bank-li p{

        width: 70px;
        flex-shrink: 0;
        color: var(--admin-title-color);
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .bank-li a{

        display: flex;
        width: 70px;
        color: var(--admin-main-accent);
        text-overflow: ellipsis;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }
    .bank-li button{
        display: flex;
        width: 18px;
        height: 18px;
    }
    
}