.admin-modal{
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
    z-index: 40001;
    position: fixed;
    background-color: rgba(121, 120, 120, 0.7);
    justify-content: center;
    align-items: center;
}
.admin-modal-window{
    width: 665px;
    height: 358px;
    background-color: var(--background-about);
    flex-direction: column;
    display: flex;
}
.admin-modal-button-x{
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
}
.admin-modal-button-x button{
    display: flex;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.admin-modal-text{
    margin-top: 44px;    
    width: auto;
    height: 228px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}
.admin-modal-text h2{
    width: auto;
    color: #111;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.admin-modal-button{
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-shrink: 0;
}
.admin-modal-no{
    display: flex;
    width: 161px;
    height: 50px;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 2px solid var(--admin-button-main);
    border-radius: 6px;
}
.admin-modal-no h4{
    color: var(--admin-main-font);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.admin-modal-no:hover {
    background-color: var(--admin-button-accent);
    border: 2px solid var(--admin-button-accent);
    h4{
        color: var(--admin-button-title);
    }
}
.admin-modal-yes{
    display: flex;
    width: 161px;
    height: 50px;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    background: var(--admin-button-main);
    border: none;
    border-radius: 6px;
}
.admin-modal-yes h4{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.admin-modal-yes:hover{
    background-color: var(--admin-button-accent);
    border: 2px solid var(--admin-button-accent);
    color: var(--admin-button-title);
}

@media (min-width: 768px) and (max-width: 1279px){
    .admin-modal-window{
        display: flex;
        width: 665px;
        height: 358px;
        background-color: var(--background-about);
        flex-direction: column;
        display: flex;
    }
    .admin-modal-button-x{
        width: 100%;
        padding-top: 12px;
        padding-right: 12px;
        display: flex;
        justify-content: flex-end;
    }
    .admin-modal-button{
        display: flex;
        height: 64px;
        justify-content: center;
        align-items: center;
        gap: 40px;
        flex-shrink: 0;
    }
}
@media (min-width: 480px) and (max-width: 767px){
    .admin-modal-window{
        width: 430px;
        height: 286px;
        background-color: var(--background-about);
        flex-direction: column;
        display: flex;
    }
    .admin-modal-text{
        margin-top: 11px;    
        width: auto;
        height: 228px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }
    .admin-modal-text h2{
        color: var(--header-text);
        text-align: center;
        font-family: Roboto;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .admin-modal-button{
        display: flex;
        height: 64px;
        justify-content: center;
        align-items: center;
        gap: 34px;
        flex-shrink: 0;
    }
    .admin-modal-button-x{
        width: 100%;
        padding-top: 12px;
        padding-right: 12px;
        display: flex;
        justify-content: flex-end;
    }
}
@media (max-width: 479px){
    .admin-modal-window{
        width: 283px;
        height: 357px;
        background-color: var(--background-about);
        flex-direction: column;
        display: flex;
    }
    .admin-modal-text{
        margin: 12px 10px 0 10px;      
        width: auto;
        height: 228px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }
    .admin-modal-button-x{
        width: 100%;
        padding-top: 12px;
        padding-right: 12px;
        display: flex;
        justify-content: flex-end;
    }
    .admin-modal-text h2{
        width: 222pz;
        color: var(--header-text);
        text-align: center;
        font-family: Roboto;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }
    .admin-modal-button{
        display: flex;
        height: 64px;
        justify-content: center;
        align-items: center;
        gap: 34px;
        flex-shrink: 0;
    }
    .admin-modal-no{
        display: flex;
        width: 102px;
        height: 50px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border: 2px solid var(--btn_defualt_login, #72A9FC);
        border-radius: 6px;
    }
    .admin-modal-yes{
        display: flex;
        width: 102px;
        height: 50px;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 6px;
    }
}
@media (max-height: 650px){
    .admin-modal-window{
        width: 550px;
        height: 300px;
        background-color: var(--background-about);
        flex-direction: column;
        display: flex;
    }
    .admin-modal-text{
        margin: 25px auto 0px;    
        width: auto;
        height: 228px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 42px;
    }
    
    .admin-modal-button{
        display: flex;
        height: 64px;
        justify-content: center;
        align-items: center;
        gap: 34px;
        flex-shrink: 0;
    }
}
