.admin-mobile-menu-wrapper {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   top: 0px;
   right: 0px;
   background-color: var(--background-light);

   width: 94%;
   height: 100vh;
   padding: 35px 10px 20px;
   overflow-y: scroll;

   @media screen and (min-width: 480px) {
      width: 300px;
   }
}

.admin-mobile-close-icon {
   height: 16px;
   width: 16px;
   margin-left: auto;
   color: var(--admin-title-color);
}

.admin-mobile-list-item {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 12px 5px;
   width: 100%;
   font-size: 16px;
   transition: var(--transition);

   @media screen and (min-width: 480px) {
      padding-left: 24px;
   }

   &:hover {
      color: var(--admin-main-accent);
      background-color: var(--background-admin-hover);
      &::after {
         content: "";
         padding: 5px;
         margin-left: auto;
         margin-right: 20px;
         display: inline-block;
         width: 24px;
         height: 24px;
         background-image: url("../../../../public/arrow-right-icon.svg");
      }
   }
}

.admin-mobile-list-icon {
   height: 24px;
   width: 24px;
   margin-right: 20px;
   fill: currentColor;
}

.admin-mobile-logout {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-top: 100px;
   padding: 12px 5px;
   font-size: 16px;
   &:hover {
      color: var(--admin-main-accent);
      background-color: var(--background-admin-hover);
      &::after {
         content: "";
         margin-left: auto;
         margin-right: 20px;
         display: inline-block;
         width: 24px;
         height: 24px;
         background-image: url("../../../../public/arrow-right-icon.svg");
      }
   }
}
