.main-wrapper {
   display: flex;
   font-family: "Roboto";
   font-weight: 400;
   font-size: 20px;
   line-height: 1.17;
   color: var(--admin-main-font);
}

.body-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
}

.admin-backdrop {
   height: 100%;
   padding: 24px;
   background-color: #f4f4f4;
}

.page-container {
   padding: 0 40px;
   max-width: 1092px;
   background: white;
   display: flex;
   justify-content: center;
   flex-direction: column;
}
@media (max-width: 396px) {
   .page-container {
      padding: 0 10px;
   }
}

.form-container {
   margin-top: 40px;
}

.admin-sub-title {
   font-size: 20px;
   font-weight: 500;
   color: var(--admin-title-color);

   @media (min-width: 768px) {
      font-size: 24px;
   }
   @media (min-width: 1280px) {
      font-size: 26px;
   }
}

.admin-form-title {
   font-size: 18px;
   font-weight: 500;
   color: var(--admin-title-color);

   @media (min-width: 1280px) {
      font-size: 20px;
   }
}

.admin-button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;  
   // width: 272px; 
   height: 49px;
   font-size: 18px;

   background-color: var(--admin-button-main);
   border: none;
   border-radius: 6px;

   color: var(--admin-button-title);
   font-size: 18px;
   cursor: pointer;
   @media (min-width: 480px) {
      // width: 384px;
      
   }

   @media (min-width: 768px) {
      // width: 494px;    
      font-size: 18px;
   }

   @media (min-width: 1280px) {
      font-size: 20px;      
   }
        &:hover, 
        &:focus {
         background-color: var(--admin-button-accent);
        }
}
