// body.modal-open {
//   overflow: hidden;
// }

.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100%;
   height: 100%;
   background-color: rgba(46, 47, 66, 0.4);
   transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

.modal-successful {
   position: absolute;
   top: 36%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 283px;
   height: 434px;
   background: var(--white, #FFF);
   padding: 80px 20px 0;
   margin-top: 96px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.modal-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 260px;
}

.modal-close-btn {
   position: absolute;
   top: 12px;
   right: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20px;
   height: 20px;
   border-radius: 6px;
   cursor: pointer;
   padding: 0;
   border-color: transparent;
   background-color: transparent;

}

.modal-close-btn:hover,
.modal-close-btn:focus {
   background-color: var(--background-admin-hover);
}

.modal-content-text {
   margin-top: 50px;
   margin-bottom: 51px;
   color: var(--admin-title-color, #212121);
   font-family: Roboto;
   font-size: 27px;
   text-align: center;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}

.check-mark-modal {
   width: 95px;
   height: 95px;
}

@media (min-width: 480px) {
   .modal-successful {
      width: 409px;
      height: 460px;
   }

   .modal-content {
      width: 319px;
   }

   .modal-content-text {
      margin-bottom: 62px;
   }

   .modal-close-btn {
      top: 30px;
      right: 30px;
   }
}

@media (min-width: 768px) {
   .modal-successful {
      width: 568px;
      height: 434px;
   }

   .modal-content {
      width: 430px;
   }
}

@media (max-height: 479px) {
   .modal-successful {
      height: auto;
      max-height: 479px;
      top: 20%;
      padding: 30px;
   }

   .modal-content-text {
      margin-bottom: 10px;
      margin-top: 10px;
   }
}



