.admin-contacts {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.admin-contacts-header {
   display: flex;
   width: 100%;
   height: 112px;
   padding: 40px 24px;
   justify-content: start;
   align-items: center;
   border-bottom: 1px solid var(--light_grey, #EBEBEB);
   background: #FFF;
   gap: 10px;
   cursor: pointer;
}
.admin-contacts-header h2 {
   flex: 1 0 0;
   color: var(--text-color, #212121);
   font-family: Roboto;
   font-size: 24px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}
.admin-contacts-list {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
}
.admin-contacts-list-title {
   display: flex;
   width: 100%;
   padding: 26px 24px;
   justify-content: space-between;
   align-items: flex-start;
   background: var(--light_grey, #ebebeb);
}
.admin-contacts-list-title p {
   width: 240px;
   flex-shrink: 0;
}
.admin-contacts-list-title span{
   width: 28px;
   height: 28px;
   flex-shrink: 0;
}
.admin-contacts-list-ul {
   display: flex;
   flex-direction: column;
   width: 100%;
}
.contacts-card {
   display: flex;
   width: 100%;
}
.contacts-li {
   display: flex;
   width: 100%;
   height: 74px;
   padding: 8px 24px;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid var(--light_grey, #EBEBEB);
   background: #FFF;
}
.contacts-li:hover{
   border-bottom: 1px solid var(--light_grey, #EBEBEB);
   background: var(--lightblue_admin, #F4FBFF);

   .edit-icon path {
      stroke: var(--admin-main-accent);
    }
}
.contacts-li p {
   width: 240px;
   flex-shrink: 0;
}
.contacts-li a{
    width: 240px;
    color: #2672E4;
}
.contacts-li button {
   width: 18px;
   height: 18px;
   background: none;
   border: none;
   cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1279px) {
   .admin-contacts {
      display: flex;
      align-items: flex-start;
      flex: 1 0 0;
   }
   .admin-contacts-header {
      display: flex;
      width: 100%;
      height: 106px;
      padding: 37px 24px;
      justify-content: space-between;
      align-items: center;
   }
   .admin-contacts-header h2 {
      flex: 1 0 0;
      color: var(--text-color, #212121);
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }
   .admin-contacts-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
   }
   .admin-contacts-list-title {
      display: flex;
      width: 100%;
      padding: 26px 24px;
      justify-content: space-between;
      align-items: flex-start;
      background: var(--light_grey, #ebebeb);
   }
   .admin-contacts-list-title p {
      width: 135px;
      flex-shrink: 0;
      color: var(--text-color, #212121);
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }
   .admin-contacts-list-title span{
      width: 28px;
      height: 28px;
      flex-shrink: 0;
   }
   .admin-contacts-list-ul {
      display: flex;
      flex-direction: column;
   }
   .contacts-card {
      display: flex;
      width: 100%;
   }
   .contacts-li {
      display: flex;
      width: 100%;
      height: 99px;
      padding: 8px 24px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--light_grey, #ebebeb);
      background: #fff;
   }
   .contacts-li p {
      width: 135px;
      flex-shrink: 0;
      color: var(--text-color, #212121);
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
   .contacts-li a {
      width: 135px;
      color: #2672e4;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
   }
   .contacts-li button {
      width: 18px;
      height: 18px;
      background: none;
      border: none;
      cursor: pointer;
   }
}
@media (min-width: 480px) and (max-width: 767px) {
   .admin-contacts {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
   }
   .admin-contacts-header {
      display: flex;
      width: 100%;
      height: 45px;
      padding: 12px 24px;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      background: #FFF;
   }
   .admin-contacts-header h2 {
      flex: 1 0 0;
      color: var(--text-color, #212121);
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }
   .admin-contacts-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
   }
   .admin-contacts-list-title {
      display: flex;
      width: 100%;
      padding: 18px 24px;
      justify-content: space-between;
      align-items: flex-start;
      background: var(--light_grey, #EBEBEB);
   }
   .admin-contacts-list-title p {
      width: 106px;
      flex-shrink: 0;
      color: var(--text-color, #212121);
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }
   .admin-contacts-list-title span{
      width: 28px;
      height: 28px;
      flex-shrink: 0;
   }
   .admin-contacts-list-ul {
      display: flex;
      flex-direction: column;
   }
   .contacts-card {
      display: flex;
      width: 100%;
   }
   .contacts-li {
      display: flex;
      width: 100%;
      padding: 8px 24px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--light_grey, #EBEBEB);
      background: #FFF;
   }
   .contacts-li p {
      width: 106px;
      flex-shrink: 0;
      color: var(--text-color, #212121);
      font-family: Roboto;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
   .contacts-li a {
      width: 106px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      color: #2672e4;
      text-overflow: ellipsis;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
   .contacts-li button {
      display: flex;
      width: 18px;
      height: 18px;
   }
}
@media screen and (max-width: 479px){
   .admin-contacts {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
   }
   .admin-contacts-header {
      display: flex;
      width: 100%;
      height: 45px;
      padding: 12px 24px;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      background: #FFF;
   }
   .admin-contacts-header h2 {
      color: var(--text-color, #212121);
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }
   .admin-contacts-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
   }
   .admin-contacts-list-title {
      display: flex;
      width: 100%;
      padding: 18px 24px;
      justify-content: space-between;
      align-items: flex-start;
      background: var(--light_grey, #EBEBEB);
   }
   .admin-contacts-list-title p {
      width: 70px;
      flex-shrink: 0;
      color: var(--text-color, #212121);
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }
   .admin-contacts-list-title span{
      width: 28px;
      height: 28px;
      flex-shrink: 0;
   }
   .admin-contacts-list-ul {
      display: flex;
      flex-direction: column;
   }
   .contacts-card {
      display: flex;
      width: 100%;
   }
   .contacts-li {
      display: flex;
      width: 100%;
      padding: 8px 24px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--light_grey, #EBEBEB);
      background: #FFF;
   }
   .contacts-li p {
      width: 70px;
      flex-shrink: 0;
      color: var(--text-color, #212121);
      font-family: Roboto;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
   .contacts-li a {
      width: 70px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      color: #2672e4;
      text-overflow: ellipsis;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
   .contacts-li button {
      display: flex;
      width: 18px;
      height: 18px;
   }
}


.edit-contact-container{
   width: 100%;   
   background: var(--white, #FFF);   
}

.edit-contact-form-wrap{
   width: 430px;
   margin-top: 24px;
   margin-left: 24px;
   padding-bottom: 44px;
   display: flex;
   flex-direction: column;
   gap: 72px;
}

.edit-contact-form{
   display: flex;
   flex-direction: column;
   gap: 24px;
   
}

.edit-contact-input{
      color: var(--blue_admin, #2672E4);      
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
      cursor: pointer;
}
