.aside {
   display: none;

   @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 186px;
      height: 100vh;
      padding-left: 0px;
      padding-top: 105px;
      padding-bottom: 41px;
      font-size: 17px;
      border-right: 1px solid var(--admin-table-header-background);
   }

   @media screen and (min-width: 1280px) {
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      // width: 300px;
      // height: 100vh;
      // padding-left: 36px;
      // padding-top: 50px;
      // padding-bottom: 41px;
      // font-size: 20px;
   }
}

.admin-list-item {
   display: flex;
   align-items: center;
   position: relative;

   padding-top: 20px;
   padding-left: 20px;
   padding-right: 32px;
   padding-bottom: 20px;
   &:hover {
      color: var(--admin-main-accent);
      background-color: var(--background-admin-hover);
      &::after {
         content: "";
         position: absolute;
         right: 5px;
         display: inline-block;
         width: 24px;
         height: 24px;
         background-image: url("../../../../public/arrow-right-icon.svg");
         background-repeat: no-repeat;
      }
   }
}

.admin-list-icon {
   width: 24px;
   height: 24px;
   margin-right: 14px;
}

.bank-account-text {
   display: block;
   width: 88px;
}

.admin-logout {
   display: flex;
   align-items: center;
   padding-top: 20px;
   padding-bottom: 20px;
}
