.aside {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 300px;
   height: 100vh;
   padding-left: 36px;
   padding-top: 50px;
   padding-bottom: 41px;
   font-size: 20px;
}

.admin-list-item {
   display: flex;
   align-items: center;

   padding-top: 20px;
   padding-bottom: 20px;
}

.admin-list-icon {
   margin-right: 20px;
}

.admin-logout {
   display: flex;
   align-items: center;
   padding-top: 20px;
   padding-bottom: 20px;
}
