.aside {
   width: 360px;
   height: 100vh;
   padding-left: 36px;
   padding-top: 105px;
   border: 1px dashed orange;
   font-size: 20px;
}

.admin-list-item {
   display: flex;
   align-items: center;

   padding-top: 20px;
   padding-bottom: 20px;
}

.admin-list-icon {
   margin-right: 20px;
}
