.return-to-login {
   background-color: var(--white);
   border: none;
   margin: 24px 0 0 24px;
}

.forget-h2 {
   margin-top: 72px;
}

.message {
   margin-top: 10px;
   height: 10px;
   font-size: 16px;
   @media (min-width: 768px) {
      top: 53%;
      font-size: 16px;
   }
}
.messageNotFound {
   color: #ff6060;
}

.messageSent {
   color: green;
}
