.return-to-login {
   background-color: var(--white);
   border: none;
   margin: 24px 0 0 24px;
}

.forget-h2 {
   margin-top: 72px;
}

.message {
   position: absolute;
   top: 360px;
}
.messageNotFound {
   color: #ff6060;
}

.messageSent {
   color: green;
}