.login-content {
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 74px 10px;
   div {
      margin: 0 auto;
   }
   div h2 {
      text-align: center;
      margin-bottom: 56px;
      font-size: 24px;
      font-weight: 500;
   }
   @media (min-width: 480px) {
      margin: 84px 24px;
   }
   @media (min-width: 768px) {
      margin: 95px 113px;
      div h2 {
         margin-bottom: 56px;
         font-size: 28px;
      }
   }
   @media (min-width: 1280px) {
      margin: 95px 203px;
   }
}

.login-text {
   width: 290px;
   color: var(--admin-main-font);
   font-size: 16px;
   @media (min-width: 480px) {
      width: 385px;
   }
   @media (min-width: 768px) {
      width: 495px;
      font-size: 16px;
   }
   @media (min-width: 1280px) {
      width: 430px;
   }
}

.login-form {
   display: flex;
   flex-direction: column;
   margin-bottom: 24px;
   width: 290px;
   button {
      border: none;
      border-radius: 6px;
      background-color: var(--admin-button-main);
      color: var(--white);
      height: 50px;
      font-family: "Roboto";
      margin-top: 68px;
      cursor: pointer;
      font-size: 18px;
      &:hover {
         background-color: var(--admin-main-accent);
      }
   }
   @media (min-width: 480px) {
      width: 384px;
   }
   @media (min-width: 768px) {
      width: 494px;
      button {
         font-size: 18px;
      }
   }
   @media (min-width: 1280px) {
      width: 430px;
   }
}
.login-input {
   margin-top: 24px;
   font-size: 18px;
   font-weight: 500;
   height: 40px;
   input {
      width: 100%;
      height: 100%;
      border: none;
      padding-right: 35px;
      padding-left: 10px;
      border: 1px solid #d6d6d6;
      border-radius: 6px;
      margin-top: 10px;

      &::placeholder {
         color: var(--text-gray);
      }
   }
   @media (min-width: 768px) {
      height: 47px;
   }
}

.mail {
   margin-top: 28px;
}

.pass {
   margin-top: 20px;
   margin-bottom: 0;
}
.password-eye {
   position: relative;
   left: 255px;
   bottom: 32px;
   cursor: pointer;
   @media (min-width: 480px) {
      left: 345px;
   }
   @media (min-width: 768px) {
      left: 460px;
      bottom: 34px;
   }
   @media (min-width: 1280px) {
      left: 397px;
   }
}

.forget-password {
   margin: 0 auto;
   color: var(--admin-button-main);
   font-size: 14px;
   &:hover {
      border-bottom: 1px solid var(--admin-button-main);
   }
}

.errorText {
   color: #ff6060;
   margin-top: 30px;
   height: 10px;
}

.errorInput {
   border: 1px solid red;
}

.forgetContainer {
   text-align: center;
}
