.renewHeader {
   width: 280px;
   @media (min-width: 480px) {
      width: 300px;
   }
   @media (min-width: 768px) {
      width: fit-content;
   }
}

.renew-input {
   height: 45px;
   margin-bottom: 24px;
}
