.renew-content {
   margin: 0 113px 95px;
}

.check-mark {
   width: 95px;
   margin: 0 auto;
   margin-top: 115px;
   margin-bottom: 40px;
   @media (min-width: 480px) {
      margin-top: 130px;
      margin-bottom: 96px;
   }
   @media (min-width: 768px) {
      margin-top: 148px;
   }
}

.successfullH2 {
   font-size: 27px;
   font-weight: 500;
   text-align: center;
   padding: 0 50px;
   margin-bottom: 28px;
}

.successfullRenew {
   font-size: 27px;
   font-weight: 500;
   text-align: center;
   margin-top: 96px;
}
