.check-mark {
   width: 95px;
   margin: 0 auto;
   margin-bottom: 40px;
   @media (min-width: 768px) {
      margin-bottom: 95px;
   }
}

@media (min-width: 768px) {
   .success-form {
      margin-top: 71px;
   }
}

.successfullRenew {
   font-size: 27px;
   font-weight: 500;
   text-align: center;
   margin-top: 96px;
}
