*,
*::before,
*::after {
   box-sizing: border-box;
}

.container {
   padding-left: 24px;
   padding-right: 24px;

   margin-right: auto;
   margin-left: auto;

   @media screen and (min-width: 480px) {
      width: 480px;
   }

   @media screen and (min-width: 768px) {
      padding-left: 24px;
      padding-right: 24px;
      width: 768px;
   }

   @media screen and (min-width: 1280px) {
      padding-left: 10px;
      padding-right: 10px;
      width: 1260px;
   }
}

.title {
   width: 100%;
   color: var(--title-main);
   font-family: PT Sans;
   font-size: 66px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-transform: uppercase;
   text-align: start;

   @media (max-width: 480px) {
      align-self: stretch;
      font-family: PT Sans;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
   }
}
