*,
*::before,
*::after {
   box-sizing: border-box;
}
body {
   font-family: PT Sans;
}

.container {
   padding-left: 24px;
   padding-right: 24px;
   width: 100%;
   margin: 0 auto;
   @media screen and (min-width: 480px) {
      max-width: 480px;
   }

   @media screen and (min-width: 768px) {
      max-width: 768px;
   }

   @media screen and (min-width: 1280px) {
      max-width: 1240px;
      padding-left: 20px;
      padding-right: 20px;
   }
}

.title {
   font-family: PT Sans;
   font-size: 28px;
   font-style: normal;
   font-weight: 700;
   text-transform: uppercase;
   color: var(--title-main);

   @media (min-width: 768px) {
      font-size: 66px;
      font-style: normal;
   }
}


.header-wrapper {
   position: relative;
   margin-top: 83px;

   @media screen and (min-width: 768px) {
      margin-top: 101px;
   }
}
.admin-main-header {
   display: flex;
   width: 100%;
   background-color: var(--admin-table-header-background);
}
.admin-main-header-wrapper {
   display: grid;
   grid-template-columns: 30.1% 30.1% 30.1% 9.7%;
   align-items: center;
   height: 57px;
   width: 100%;
   padding: 0 5px;
   @media screen and (min-width: 480px) {
      grid-template-columns: 31.07% 31.07% 31.07% 6.79%;
      padding: 0 24px;
   }
   @media screen and (min-width: 768px) {
      grid-template-columns: 31.4% 31.4% 31.4% 5.8%;
   }
   @media screen and (min-width: 1280px) {
      grid-template-columns: 38.31% 20.21% 38.31% 3.17%;
   }
}
.admin-main-header-wrapper > div {
   font-size: 18px;
   font-weight: 500;
   line-height: 21.09px;
   color: var(--admin-title-color)
}
.admin-main-content {
   display: grid;
   width: 100%;
   background-color: var(--white);
   border-bottom: solid 1px rgba(235, 235, 235, 1);
}
.admin-main-content-element {
   height: 72px;
}
.admin-main-content-element-partners {
   height: 90px;
}

.admin-main-content-element, .admin-main-content-element-partners {
   display: grid;
   grid-template-columns: 30.1% 30.1% 30.1% 9.7%;
   height: 72px;
   padding: 0 5px;
   align-items: center;
   cursor: pointer;
   border-bottom: solid 1px rgba(235, 235, 235, 1);
   &:hover {
      background-color: var(--admin-secondary-accent);
   }
   @media screen and (min-width: 480px) {
      grid-template-columns: 31.07% 31.07% 31.07% 6.79%;
      height: 78px;
      padding: 0 24px;
   }
   @media screen and (min-width: 768px) {
      grid-template-columns: 31.4% 31.4% 31.4% 5.8%;
      height: 99px;
   }
   @media screen and (min-width: 1280px) {
      grid-template-columns: 38.31% 20.21% 38.31% 3.17%;
      height: 74px;
      
   }
}
.admin-main-content-element > div:last-child, .admin-main-content-element-partners > div:last-child  {
   width: 28px;
   height: 27.12px;
}
.admin-main-content-element > div:last-child,
.admin-main-content-element-partners > div:last-child {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: auto;
}
.edit-icon path {
   stroke: var(--admin-main-font);
   stroke-width: 1.5;
   stroke-linecap: round;
   stroke-linejoin: round;
   transition: stroke 0.3s ease;
 }

