*,
*::before,
*::after {
   box-sizing: border-box;
}
body {
   font-family: PT Sans;
}

.container {
   padding-left: 24px;
   padding-right: 24px;
   width: 100%;
   margin: 0 auto;
   @media screen and (min-width: 480px) {
   }

   @media screen and (min-width: 768px) {
      max-width: 768px;
   }

   @media screen and (min-width: 1280px) {
      max-width: 1240px;
      padding-left: 20px;
      padding-right: 20px;
   }
}

.title {
   font-family: PT Sans;
   font-size: 28px;
   font-style: normal;
   font-weight: 700;
   text-transform: uppercase;
   color: var(--title-main);

   @media (min-width: 768px) {
      font-size: 66px;
      font-style: normal;
   }
}
