*,
*::before,
*::after {
   box-sizing: border-box;
}
body {
   font-family: PT Sans;
}

.container {
   padding-left: 24px;
   padding-right: 24px;
   width: 100%;
   margin: 0 auto;
   @media screen and (min-width: 480px) {
      max-width: 480px;
   }

   @media screen and (min-width: 768px) {
      max-width: 768px;
   }

   @media screen and (min-width: 1280px) {
      max-width: 1240px;
      padding-left: 20px;
      padding-right: 20px;
   }
}

.title {
   font-family: PT Sans;
   font-size: 28px;
   font-style: normal;
   font-weight: 700;
   text-transform: uppercase;
   color: var(--title-main);

   @media (min-width: 768px) {
      font-size: 66px;
      font-style: normal;
   }
}

.header-wrapper {
   position: relative;
   margin-top: 101px;
}





.admin-main-content-element {
   display: flex;
   padding: 0 24px;
   @media screen and (min-width: 1280px) {
      padding: 0 40px;
   }
}
.admin-main-header {
   display: flex;
   width: 100%;
   background-color: var(--admin-table-header-background);

}
.admin-main-header-wrapper {
   height: 57px;
   width: 100%;
   padding: 0 24px;
   display: grid;
   grid-template-columns: 37% 31% 27% 5%; 
   align-items: center;
   width: 100%;
   @media screen and (min-width: 768px) {
      padding: 0 40px;
      grid-template-columns: 36% 32.5% 28% 3.5%; 
   }
   @media screen and (min-width: 1280px) {
      grid-template-columns: 28% 28% 42.7% 1.3%; 
   }
}
.admin-main-content {
   display: grid;
   grid-template-rows: repeat(4, 1fr); 
   background-color: var(--white);
   border-bottom: solid 1px rgba(235, 235, 235, 1); 
 }
 .admin-main-content-element {
   display: grid;
   grid-template-columns: 37% 31% 27% 5%; 
   width: 100%;
   height: 59px;
   padding: 0 24px;
   align-items: center;
   border-bottom: solid 1px rgba(235, 235, 235, 1);
   cursor: pointer;
   @media screen and (min-width: 768px) {
      grid-template-columns: 36% 32.5% 28% 3.5%; 
      height: 74px;
      padding: 0 40px;
   }
   @media screen and (min-width: 1280px) {
      grid-template-columns: 28% 28% 42% 2%; 
   }
}
.admin-main-content-element > div {
   width: 100%; 
   height: 59px;
   display: flex;
   align-items: center; 
   justify-content: flex-start;
 }
.admin-main-content-element > div:last-child {
   justify-content: flex-end; 
}
