*,
*::before,
*::after {
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

.container {
   padding-left: 10px;
   padding-right: 10px;

   @media screen and (min-width: 480px) {
      width: 480px;
      margin-right: auto;
      margin-left: auto;
   }

   @media screen and (min-width: 768px) {
      width: 768px;
   }

   @media screen and (min-width: 1200px) {
      width: 1260px;
   }

}

}
.title{
   width: auto;
   color: var(--text-main);
   font-family: PT Sans;
   font-size: 66px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-transform: uppercase;

   @media (max-width: 480px){
         text-align: center;
         align-self: stretch;
   }
     
   

}

