:root {
   --background-about: rgba(240, 240, 240, 1);
   --background-dark: #252525;
   --button-main-color: #c3dc73;
   --button-hover-color: #252525;
   --button-burger-hover-color: #ffffff;
   --header-text: #111111;
   --text-main: rgba(33, 33, 33, 1);
   --text-gray: #acacac;
   --title-main: rgba(17, 17, 17, 1);
   --white: #ffffff;
   --accent-color: #c3dc73;
   --hover-btn-gray: #ebebeb;
   --hover-arrow-slider: #e3e3e3;
   --admin-title-color: #212121;
   --admin-main-font: #646464;
   --admin-main-accent: #2672e4;
   --admin-secondary-accent: #f4fbff;
   --admin-button-accent: #2672e4;
   --admin-button-secondary: #2672e4;
}
