:root {
   --background-about: rgba(240, 240, 240, 1);
   --background-dark: #252525;
   --button-main-color: #c3dc73;
   --button-hover-color: #252525;
   --button-burger-hover-color: #ffffff;
   --header-text: #111111;
   --text-main: rgba(33, 33, 33, 1);
   --text-gray: #acacac;
   --title-main: rgba(17, 17, 17, 1);
   --white: #ffffff;
   --accent-color: #c3dc73;
   --hover-btn-gray: #ebebeb;
   --hover-arrow-slider: #e3e3e3;

   --admin-backdrop: rgba(0, 0, 0, 0.2);
   --admin-background: #f5f5f5;
   --icon-exit-burger-main: #bcbcb5;
   --desktop-navigation-accent: #bdbdbd;
   --background-light: #ffffff;
   --background-admin-hover: #f4fbff;
   --admin-title-color: #212121;
   --admin-main-font: #646464;
   --admin-main-accent: #2672e4;
   --admin-secondary-accent: #f4fbff;
   --admin-button-title: #ffffff;
   --admin-button-main: #72a9fc;
   --admin-button-accent: #2672e4;

   --admin-button-disabled: #c4c4c4;
   --admin-table-header-background: #ebebeb;
   --admin-red-accent: #ff6060;
   --admin-red-background: #fde4e4;

   --transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
